# Wine Quality Classifier

Classification result will be between 0-10. 0 means awful 10 means geourgeus.

## Importing the libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot

## Importing the dataset

In [2]:
dataset = pd.read_csv("winequality-red.csv")
x = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values

In [3]:
dataset.head(10)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
5,7.4,0.66,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,9.4,5
6,7.9,0.60,0.06,1.6,0.069,15.0,59.0,0.9964,3.30,0.46,9.4,5
7,7.3,0.65,0.00,1.2,0.065,15.0,21.0,0.9946,3.39,0.47,10.0,7
8,7.8,0.58,0.02,2.0,0.073,9.0,18.0,0.9968,3.36,0.57,9.5,7
9,7.5,0.50,0.36,6.1,0.071,17.0,102.0,0.9978,3.35,0.80,10.5,5

In [4]:
dataset.shape

(1599, 12)

In [5]:
dataset.info()
dataset.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [6]:
dataset.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

## Splitting the dataset into the Training set and Test set

In [7]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

In [8]:
print(x_train)

[[ 9.9   0.54  0.45 ...  3.39  0.62  9.4 ]
 [10.8   0.26  0.45 ...  3.13  0.54  9.6 ]
 [ 9.9   0.35  0.55 ...  3.26  0.79 10.6 ]
 ...
 [ 7.9   0.57  0.31 ...  3.29  0.69  9.5 ]
 [13.    0.47  0.49 ...  3.3   0.68 12.7 ]
 [ 9.8   0.98  0.32 ...  3.25  0.48  9.4 ]]

In [9]:
print(x_test)

[[10.8    0.47   0.43  ...  3.17   0.76  10.8  ]
 [ 8.1    0.82   0.    ...  3.36   0.53   9.6  ]
 [ 9.1    0.29   0.33  ...  3.26   0.84  11.7  ]
 ...
 [ 9.1    0.34   0.42  ...  3.18   0.55  11.4  ]
 [ 9.1    0.765  0.04  ...  3.29   0.54   9.7  ]
 [ 8.2    0.32   0.42  ...  3.27   0.55  12.3  ]]

## Feature Scaling

In [10]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train= sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [11]:
print(x_train)

[[ 0.90103398  0.05480282  0.9094138  ...  0.52091013 -0.22358408
  -0.95579434]
 [ 1.41998736 -1.47967601  0.9094138  ... -1.16841553 -0.68130963
  -0.76727388]
 [ 0.90103398 -0.98645067  1.4208416  ... -0.3237527   0.74908272
   0.17532846]
 ...
 [-0.25219574  0.21921126  0.19341488 ... -0.12883051  0.17692578
  -0.86153411]
 [ 2.68854005 -0.32881689  1.11398492 ... -0.06385645  0.11971008
   2.15479335]
 [ 0.84337249  2.46612668  0.24455766 ... -0.38872677 -1.0246038
  -0.95579434]]

In [12]:
print(x_test)

[[ 1.41998736 -0.32881689  0.80712824 ... -0.90851928  0.57743564
   0.36384892]
 [-0.13687277  1.58928164 -1.39201131 ...  0.32598793 -0.73852533
  -0.76727388]
 [ 0.43974209 -1.31526756  0.29570044 ... -0.3237527   1.03516119
   1.21219102]
 ...
 [ 0.43974209 -1.04125349  0.75598546 ... -0.84354521 -0.62409394
   0.92941032]
 [ 0.43974209  1.28786615 -1.18744019 ... -0.12883051 -0.68130963
  -0.67301364]
 [-0.07921128 -1.15085912  0.75598546 ... -0.25877864 -0.62409394
   1.77775242]]

## Training the Logical Regression model on the Training set

## Predicting the Test set results

## Making the Confusion Matrix and Accuracy Score

## Computing the accuracy with k-Fold Cross Validation